

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* needed for container min-height */
    background: #dddddd;
    font-family: arial,sans-serif;
    font-size: small;
    color: #666;
}

div.container {
    display: flex;
    position: relative; /* needed for footer positioning*/
    margin: 0 auto; /* center, not in IE5 */
    width: 100%;
    background: #f0f0f0;
    height: auto !important; /* real browsers */
    height: 100%; /* IE6: treaded as min-height*/

    min-height: 100%; /* real browsers */
}
div.content {
    padding: 1em 1em 5em; /* bottom padding for footer */
}

    div.content p {
        text-align: justify;
        padding: 0 1em;
    }

div.footer {
    position: absolute;
    justify-content: center;
    width: 96%;
    bottom: 0; /* stick to bottom */
    background: #ddd;
    border-top: 6px double gray;
}

div.footer p {
    padding: 1em;
    margin: 0;
}


.sidebar {
    height: auto;
    margin-right: 20px
}

.nav-link {
    height: 40px;
    font-size: 15px
}

.nav-link:hover {
    background-color: #0d6efd
}

.util {
    width: 50%;
    margin-bottom: 20px
}

.btn {
    color: white
}